﻿@model Entity.Entities.AppKeyConfig

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppKeyConfig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BulkSmsUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BulkSmsUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BulkSmsUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BulkSmsUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BulkSmsPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BulkSmsPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BulkSmsSid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BulkSmsSid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
