﻿@model Entity.Entities.ProductNutrition

<h4>ProductNutrition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProdctNutrition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" id="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NutritionType" class="control-label"></label>
                <select asp-for="NutritionType" id="NutritionType" class ="form-control" asp-items="ViewBag.NutritionType"></select>
            </div>
            <div class="form-group">
                <label asp-for="NutritionValue" class="control-label"></label>
                <input asp-for="NutritionValue" id="NutritionValue" class="form-control" />
                <span asp-validation-for="NutritionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" id="AddPrdctNutrion" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
