﻿@model Entity.Entities.ProductPicture

<h4>ProductPicture</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="ProductPicture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" id="ProductId" class ="form-control ProductIds" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PictureType" class="control-label"></label>
                <input asp-for="PictureType" class="form-control" />
                <span asp-validation-for="PictureType" id="PictureType" class="text-danger PictureType"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" type="file" id="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger Picture"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" id="addpicture" class="btn btn-default addpicture" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
