﻿@model List<Entity.Entities.Product>
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<div class="row">
    <div class="col-md-12">
        <div class="Product">
            @{ Html.RenderPartial("_Product");  }
        </div>
        <div class="ProductPicture">
            @{ Html.RenderPartial("_ProductPicture");  }
        </div>
        <div class="ProductNutrition">
            @{ Html.RenderPartial("_ProdctNutrition");  }
        </div>
        <div class="ProductUnit">
            @{ Html.RenderPartial("_ProdctUnit");  }
        </div>
        </div>
    </div>
<div class="row">
    <div id="DivBindReports">

    </div>
    <input type="hidden" id="Parameter" />
    <div class="col-md-12" id="div_ProductDetails">
        
        @*@{ Html.RenderPartial("_ProductDetails",Model);  }*@
    </div>
    <div class="col-md-12" id="div_ProdctNutrinDetails">
        @*@{ Html.RenderPartial("_ProdctNutrinDetails",Model);  }*@
    </div>
    <div class="col-md-12" id="div_ProductPicDetails">
        @*@{ Html.RenderPartial("_ProductPicture",Model);  }*@
    </div>
    <div class="col-md-12" id="div_ProdctUnitDetails">
        @*@{ Html.RenderPartial("_ProdctUnit",Model);  }*@
    </div>
</div>
<div class="row">
    <div class="col-md-12" align="center">
        
            <input type="button" id="divProduct" value="Product" />

       
        
            <input type="button" id="divProductPic" value="Product Picture" />

    
            <input type="button" id="divProductNutri" value="Product Nutri" />

 
            <input type="button" id="divProductUnit" value="Product Unit" />

    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        //===========================Bind Partialview Data============================================
        $(document).ready(function () {

                $('#DivBindReports').html(" ");

                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: "@(Url.Action("BindPartialView", "Products"))",
                        data: { param: document.getElementById("Parameter").value },
                        success: function (data) {
                            $('#DivBindReports').html(" ");
                            $('#DivBindReports').html(data);

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $('#DivBindReports').html(" ");
                            alert('Record not found');
                        }
                    });



        });
       








        $("#AddProduct").click(function () {
            alert("test")
            var ProductName = $("#ProductName").val();
            //alert(ProductName);
            var ProductDescription = $("#ProductDescription").val();
            //alert(ProductDescription);
            var CategoryId = $("#CategoryId").val();
            //alert(CategoryId)
            var Status = $("#Status").val();
            //alert(Status)

            var model = { ProductName: ProductName, ProductDescription: ProductDescription, CategoryId: CategoryId, Status: Status };
            $.ajax({

                @*url: '@Url.Content("api/Product/InsertProduct")',*@
                url: 'https://localhost:44316/api/Product/InsertProduct',
                type: "POST",
                //dataType: "JSON",
                data: JSON.stringify(model),
                success: function (data) {
                    console.log(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.log(data);
                    /*debugger*/;
                    alert(textStatus, errorThrown, jqXHR);
                }
            });
        });




        $("#addpicture").click(function () {
        alert("test")
        var Productid = $("#ProductIds").val();
        alert(Productid);
        var PictureType = $("#PictureType").val();
        alert(PictureType);
        var Picture = $("#Picture").val();
        alert(Picture)
        var model = { Productid: Productid, PictureType: PictureType, Picture: Picture };
            $.ajax({

                url: '@Url.Content("/api/ProductPicture/AddPicture")',
                type: "POST",
                //dataType: "JSON",
                data: JSON.stringify(model),
                success: function (data) {
                    console.log(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.log(data);
                    /*debugger*/;
                    alert(textStatus, errorThrown, jqXHR);
                }
        });
        });
            $("#AddPrdctNutrion").click(function () {
        alert("test")
        var Productid = $("#ProductIds").val();
        alert(Productid);
        var NutritionType = $("#NutritionType").val();
        alert(NutritionType);
        var NutritionValue = $("#NutritionValue").val();
        alert(NutritionValue)
        var model = { Productid: Productid, NutritionType: NutritionType, NutritionValue: NutritionValue };
            $.ajax({

                url: '@Url.Content("/api/ProductNutin/AddPrdctNutrin")',
                type: "POST",
                //dataType: "JSON",
                data: JSON.stringify(model),
                success: function (data) {
                    console.log(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.log(data);
                    /*debugger*/;
                    alert(textStatus, errorThrown, jqXHR);
                }
            });
            });
            $("#AddUnit").click(function () {
        alert("test")
        var Title = $("#Title").val();
        alert(Title);

        var model = { Title: Title};
            $.ajax({

                url: '@Url.Content("/api/Unit/AddUnit")',
                type: "POST",
                dataType: "JSON",
                data: JSON.stringify(model),
                success: function (data) {
                    console.log(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.log(data);
                    /*debugger*/;
                    alert(textStatus, errorThrown, jqXHR);
                }
            });
    });
    </script>
     
   <script type="text/javascript">
            @*BindPartialView(function () {
                $('#DivBindReports').html(" ");

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("BindPartialView", "Products"))",
                    data: { param: document.getElementById("Parameter").value },
                    success: function (data) {
                        $('#DivBindReports').html(" ");
                        $('#DivBindReports').html(data);

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#DivBindReports').html(" ");
                        alert('Record not found');
                    }
                });
            });*@
            $("#divProduct").click(function () {
                $("#Parameter").val("Product");
           $(".Product").show();
           $(".ProductPicture").hide();
           $(".ProductNutrition").hide();
           $(".ProductUnit").hide();
           $("#div_ProductDetails").show();
           $("#div_ProdctNutrinDetails").hide();
           $("#div_ProductPicDetails").hide();
           $("#div_ProdctUnitDetails").hide();
           //BindPartialView();


       });
       $("#divProductPic").click(function () {
           {
               $("#Parameter").val("ProductPic");
               $(".Product").hide();
               $(".ProductPicture").show();
               $(".ProductNutrition").hide();
               $(".ProductUnit").hide();
               $("#div_ProductDetails").hide();
               $("#div_ProdctNutrinDetails").hide();
               $("#div_ProductPicDetails").show();
               $("#div_ProdctUnitDetails").hide();
               //BindPartialView();
           }
       });
       $("#divProductNutri").click(function () {
           {
               $("#Parameter").val("ProductNutrition");
               $(".Product").hide();
               $(".ProductPicture").hide();
               $(".ProductNutrition").show();
               $(".ProductUnit").hide();
               $("#div_ProductDetails").hide();
               $("#div_ProdctNutrinDetails").show();
               $("#div_ProductPicDetails").hide();
               $("#div_ProdctUnitDetails").hide();
               //BindPartialView();
           }
       });
       $("#divProductUnit").click(function () {
           {
               $("#Parameter").val("ProductUnit");
               $(".Product").hide();
               $(".ProductPicture").hide();
               $(".ProductNutrition").hide();
               $(".ProductUnit").show();
               $("#div_ProductDetails").hide();
               $("#div_ProdctNutrinDetails").hide();
               $("#div_ProductPicDetails").hide();
               $("#div_ProdctUnitDetails").show();
               //BindPartialView();

           }
       });
    </script>
    <script>
        $(document).ready(function () {
            $(".ProductPicture").hide();
            $(".ProductNutrition").hide();
            $(".ProductUnit").hide();
            $("#div_ProdctNutrinDetails").hide();
            $("#div_ProductPicDetails").hide();
            $("#div_ProdctUnitDetails").hide();
           

        });
    </script>
    }

