﻿@model Entity.Entities.Product


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class ="form-control" asp-items="ViewBag.Status"></select>
            </div>
            <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ApplicationUser" class="control-label"></label>
                <select asp-for="ApplicationUser" class ="form-control" asp-items="ViewBag.ApplicationUser"></select>
            </div>*@
            @*<div class="form-group">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" />
                
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4 Ppicture">
        @{ Html.RenderPartial("ProductPicture");  }
    </div>
    <div class="col-md-4 Pnutrition">
        @{ Html.RenderPartial("ProdctNutrition");  }
    </div>
    <div class="col-md-4 Punit">
        @{ Html.RenderPartial("_ProdctUnit");  }
    </div>
    <div class="col-md-6">
       @*@{ Html.RenderPartial("_ProductDetails");  }*@
    </div>
</div>
<div class="row">
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $("#addpicture").click(function () {
        alert("test")
        var Productid = $("#ProductIds").val();
        alert(Productid);
        var PictureType = $("#PictureType").val();
        alert(PictureType);
        var Picture = $("#Picture").val();
        alert(Picture)
        var model = { Productid: Productid, PictureType: PictureType, Picture: Picture };
            $.ajax({

                url: '@Url.Content("~/Products/AddPicture")',
                type: "POST",
                //dataType: "JSON",
                data: JSON.stringify(model),
                success: function (data) {
                    console.log(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.log(data);
                    /*debugger*/;
                    alert(textStatus, errorThrown, jqXHR);
                }
            });
    });
    $(document).ready(function () {
        $(".Ppicture").hide();
        $(".Pnutrition").hide();
        $(".Punit").hide();

    })
</script>
}
