﻿@model Entity.Entities.NutritionMaster

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>NutritionMaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" id="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" id="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="button" id="AddCategory" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $("#AddCategory").click(function () {
            alert("test")
            var Title = $("#Title").val();
            //alert(ProductName);
            var Active = $("#Active").val();
            //alert(ProductDescription);
            var CategoryId = $("#CategoryId").val();
            //alert(CategoryId)
            var Status = $("#Status").val();
            //alert(Status)

            var model = { ProductName: ProductName, ProductDescription: ProductDescription, CategoryId: CategoryId, Status: Status };
            $.ajax({

                url: '@Url.Content("~/api/Product/InsertProduct")',
                type: "POST",
                //dataType: "JSON",
                data: JSON.stringify(model),
                success: function (data) {
                    console.log(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.log(data);
                    /*debugger*/;
                    alert(textStatus, errorThrown, jqXHR);
                }
            });
        });
    </script>
}
