﻿@model Entity.Entities.Category

@{
    ViewData["Title"] = "AddCategory";
}

<h2>AddCategory</h2>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryTitle" class="control-label"></label>
                <input asp-for="CategoryTitle" id="CategoryTitle" class="form-control" />
                <span asp-validation-for="CategoryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <select asp-for="ParentId" id="ParentId" class ="form-control" asp-items="ViewBag.ParentId"></select>
            </div>
            <div class="form-group">
                <input type="button" id="AddCategory" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div id="DivBindReports">

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $("#AddCategory").click(function () {
            alert("test")
            var CategoryTitle = $("#CategoryTitle").val();
            alert(CategoryTitle);
            var ParentId = $("#ParentId").val();
            alert(ParentId);

            var model = { CategoryTitle: CategoryTitle, ParentId: ParentId };
            $.ajax({

                url: '@Url.Content("~/api/Category/AddCategory")',
                type: "POST",
                //dataType: "JSON",
                data: JSON.stringify(model),
                success: function (data) {
                    console.log(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.log(data);
                    /*debugger*/;
                    alert(textStatus, errorThrown, jqXHR);
                }
            });
        });



        $(document).ready(function () {
           
                $('#DivBindReports').html(" ");
                
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: "@(Url.Action("GetRecords", "Home"))",
                        data: { },
                        success: function (data) {
                            $('#DivBindReports').html(" ");
                            $('#DivBindReports').html(data);
                           
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $('#DivBindReports').html(" ");
                            alert('Record not found');
                        }
                    });
                


        });
    </script>
}
